.filters {
	flex-basis: 200px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: inherit;
}

.filters input {
	text-align: center;
	color: gray;
	border: 1px solid black;
	padding: 5px;
	width: 200px;
	margin: 20px auto;
}

.articles {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-basis: 200px;
	flex-grow: 4;
	height: inherit;
	overflow: auto;
}

.clothingItem {
	flex-basis: 200px;
	background-color: #FFF;
	margin: 10px;
	text-align: center;
	padding: 10px;
	border: 1px solid black;
	overflow: hidden;
}

.clothingItem img {
	height: 80%;

}

.clothingItem p {
	font-size: 14px;
	padding: 0px 0px;
	margin: 5px 0px;
}

@media screen and (max-width: 850px) {
	.filters {
		flex-basis: 50px;
	}



}